<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>NewVIPERModule</string>
	<key>Description</key>
	<string>Basic SWIFT-VIPER module template. Creates View, Interactor, Presenter, Router with protocols.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string></string>
			<key>Description</key>
			<string>Имя модуля VIPER. Должно начинаться с большой буквы в CamelStyle</string>
			<key>Identifier</key>
			<string>viperModuleName</string>
			<key>Name</key>
			<string>Название модуля</string>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_viperModuleName___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string></string>
			<key>Description</key>
			<string>описание того, что модуль делает</string>
			<key>Identifier</key>
			<string>viperModuleDescription</string>
			<key>Name</key>
			<string>Описание модуля</string>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>text</string>
		</dict>
	</array>
</dict>
</plist>
